<div class = "container panel">
    <div class="col-md-10">
        <h1>
            ViPR Controller Design: {{ design.customer.accnt }}
        </h1>
    </div>



</div>
<div ng-hide="editMode" class="container" id="exportThis">
    <div class="container" style="width: 100%">
        <div style="float:left; width: 48%" class="well">
            <legend>Created For:</legend>
            <p ng-if="design.customer.name">{{design.customer.name}}, {{design.customer.role}}</p>
            <p ng-if="design.customer.email"><a ng-href="mailto:{{ design.customer.email }}" target="_blank">{{design.customer.email}}</a>, {{design.customer.contact}}</p>

            <p ng-if="design.customer.accnt">{{design.customer.accnt}}, </p>
            <p ng-if="design.customer.address">{{ design.customer.address }} </p>
            <p>Site ID: {{design.customer.siteid}}</p>

        </div>
        <div style="float:right; width: 48%" class="well">

            <legend>Created By:</legend>
            <p ng-if="design.dellEmc.saName">{{ design.dellEmc.saName }}, Solutions Architect</p>
            <p ng-if="design.dellEmc.saEmail"><a ng-href="mailto:{{ design.dellEmc.saEmail }}" target="_blank">{{ design.dellEmc.saEmail }} </a>, {{ design.dellEmc.saContact }}</p>
            <hr>
            <p ng-if="design.dellEmc.pmName">{{ design.dellEmc.pmName }}, Project Manager</p>
            <p ng-if="design.dellEmc.pmEmail"><a ng-href="mailto:{{ design.dellEmc.pmEmail }}" target="_blank">{{ design.dellEmc.pmEmail }} </a>, {{design.dellEmc.pmContact}}</p>
            <p ng-if="design.dellEmc.address"> {{ design.dellEmc.address }} </p>

        </div>

        <div style="clear:both"></div>

        <div class="well" ng-if="design.viprHa ||design.numberOfVdc ||design.vsphereVersion ||design.blockorFile">
            <legend>VDC Summary</legend>
            <table class="table table-condensed table-striped table-responsive table-bordered">
                <thead>
                <tr>
                    <th>Number of VDC</th>
                    <th>Geo Federation Deployment</th>
                    <th>ViPR High Availability</th>
                    <th>vSphere/Hyper-V Version</th>
                    <th>Block, file or both?</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ design.numberOfVdc }}</td>
                    <td>{{ design.isGeoFederation }}</td>
                    <td>{{ design.viprHa }}</td>
                    <td>{{ design.vsphereVersion }}</td>
                    <td>{{ design.blockorFile }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-info" ng-if="design.vsphereVersion == '5.0' || design.vsphereVersion =='5.1'|| design.vsphereVersion =='5.5' || design.vsphereVersion =='6.0'">
            <div class="panel-heading">Requirements for VMware vApp installation</div>
            <div class="panel-body">
                <ul>
                    <li>VMware vCenter Server running in the vSphere Enterprise Edition environment.</li>
                    <li>ViPR Controller deployment with a vApp requires administrative rights to the VMware Virtual Center.</li>
                    <li>An installed VMware ESXi server 6.0, 5.5.x, 5.1.x or 5.0.x running in the vSphere environment, and VMFS 5.</li>
                    <li>An installed vSphere Client from which you can access your vCenter Server.</li>
                    <li>DRS-enabled cluster or resource pool in a DRS-enabled cluster.</li>
                    <li>Datastore on shared block storage. Solid State Drive (SSD) or 10K RPM Fibre Channel forproduction environments. NL-SAS for non-production environments.</li>
                    <li>Read/write latency for ESXi datastores should average 10ms or less.</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-info" ng-if="design.vsphereVersion == '2012R2'">
            <div class="panel-heading">Requirements for Microsoft Hyper-V</div>
            <div class="panel-body">
                <ul>
                    <li>Windows Hyper-V Server 2012 R21</li>
                    <li>System Center 2012 R2 Virtual Machine Manager. The deployment PowerShell script Provided with the installation must run on this server.</li>
                    <li>Administrative rights or permission rights to the Microsoft System Center VirtualMachine Manager (SCVMM).</li>
                    <li>High speed network connection between SCVMM server and Hyper-V nodes.</li>
                    <li>Enough memory to run ViPR Controller nodes.</li>
                    <li>Solid State Drive (SSD) or 10K RPM Fibre Channel for production environments. NLSAS for non-production environments.</li>
                    <li>Read/write latency for underlying drives should average 10 ms or less.</li>
                </ul>
            </div>
        </div>

        <div class="well" ng-if="design.viprHa">
            <legend>ViPR Infrastructure and Network Details</legend>
            <table class="table table-condensed table-striped table-responsive table-bordered">
                <thead>
                <tr>
                    <th>Node Type</th>
                    <th>Hostname</th>
                    <th>IP Address</th>
                    <th>Netmask</th>
                    <th>Gateway</th>
                    <th>DNS Servers</th>
                    <th>NTP servers</th>
                    <th>vCPU</th>
                    <th>vRAM(GB)</th>
                    <th>Disk(GB,Thick)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Public Virtual</td>
                    <td>{{design.virtual.host}}</td>
                    <td>{{design.virtual.ip}}</td>
                    <td>{{design.network.mask}}</td>
                    <td>{{design.network.gateway}}</td>
                    <td>{{design.network.dns1}}</td>
                    <td>{{design.network.ntp1}}</td>
                    <td ng-if="design.viprHa =='2plus1'">2</td>
                    <td ng-if="design.viprHa =='3plus2'">4</td>
                    <td ng-if="design.viprHa =='2plus1'">8</td>
                    <td ng-if="design.viprHa =='3plus2'">16</td>
                    <td>600</td>

                </tr>
                <tr>
                    <td>Node 1</td>
                    <td>{{design.node1.host}}</td>
                    <td>{{design.node1.ip}}</td>
                    <td>{{design.network.mask}}</td>
                    <td>{{design.network.gateway}}</td>
                    <td>{{design.network.dns2}}</td>
                    <td>{{design.network.ntp2}}</td>
                    <td ng-if="design.viprHa =='2plus1'">2</td>
                    <td ng-if="design.viprHa =='3plus2'">4</td>
                    <td ng-if="design.viprHa =='2plus1'">8</td>
                    <td ng-if="design.viprHa =='3plus2'">16</td>
                    <td>600</td>

                </tr>
                <tr>
                    <td>Node 2</td>
                    <td>{{design.node2.host}}</td>
                    <td>{{design.node2.ip}}</td>
                    <td>{{design.network.mask}}</td>
                    <td>{{design.network.gateway}}</td>
                    <td></td>
                    <td></td>
                    <td ng-if="design.viprHa =='2plus1'">2</td>
                    <td ng-if="design.viprHa =='3plus2'">4</td>
                    <td ng-if="design.viprHa =='2plus1'">8</td>
                    <td ng-if="design.viprHa =='3plus2'">16</td>
                    <td>600</td>

                </tr>

                <tr>
                    <td>Node 3</td>
                    <td>{{design.node3.host}}</td>
                    <td>{{design.node3.ip}}</td>
                    <td>{{design.network.mask}}</td>
                    <td>{{design.network.gateway}}</td>
                    <td></td>
                    <td></td>
                    <td ng-if="design.viprHa =='2plus1'">2</td>
                    <td ng-if="design.viprHa =='3plus2'">4</td>
                    <td ng-if="design.viprHa =='2plus1'">8</td>
                    <td ng-if="design.viprHa =='3plus2'">16</td>
                    <td>600</td>

                </tr>

                <tr ng-if="design.viprHa =='3plus2'">
                    <td>Node 4</td>
                    <td>{{design.node4.host}}</td>
                    <td>{{design.node4.ip}}</td>
                    <td>{{design.network.mask}}</td>
                    <td>{{design.network.gateway}}</td>
                    <td></td>
                    <td></td>
                    <td ng-if="design.viprHa =='2plus1'">2</td>
                    <td ng-if="design.viprHa =='3plus2'">4</td>
                    <td ng-if="design.viprHa =='2plus1'">8</td>
                    <td ng-if="design.viprHa =='3plus2'">16</td>
                    <td>600</td>

                </tr>

                <tr ng-if="design.viprHa =='3plus2'">
                    <td>Node 5</td>
                    <td>{{design.node5.host}}</td>
                    <td>{{design.node5.ip}}</td>
                    <td>{{design.network.mask}}</td>
                    <td>{{design.network.gateway}}</td>
                    <td></td>
                    <td></td>
                    <td ng-if="design.viprHa =='2plus1'">2</td>
                    <td ng-if="design.viprHa =='3plus2'">4</td>
                    <td ng-if="design.viprHa =='2plus1'">8</td>
                    <td ng-if="design.viprHa =='3plus2'">16</td>
                    <td>600</td>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-info" ng-if="design.viprHa">
            <div class="panel-heading">VM Resource Recommendations</div>
            <div class="panel-body">
                <ul>
                    <li>Reserving above mentioned memory for each VM is strongly recommended in production environment.</li>
                    <li>Serios performance issues may be observed due to lack of enough memory on ViPR VMs.</li>
                    <li>Each vCPU = 1 physical core of Intel Xeon E5 or E7 families with 2.4 GHz or higher speed.</li>
                    <li>Thick provisioned eager zeroed disks are recommended for production environments.</li>
                    <li>Thin provisioned is acceptable for non-production environments.</li>
                    <li>1 Gbps network bandwidth should be available to each VM.</li>
                </ul>
            </div>
        </div>



        <div class="well" ng-if="design.isVmax2 ||design.isVmax3||design.isVnxBlock ||design.isVplex ||design.isRp">
            <legend>Storage Infrastructure Details</legend>
            <table class="table table-condensed table-striped table-responsive table-bordered">
                <thead>
                <tr>
                    <th>Storage Type</th>
                    <th>ViPR Name</th>
                    <th>Hostname</th>
                    <th>IP Address</th>
                    <th>UserID</th>
                    <th>Port</th>
                    <th>Code Level</th>
                    <th>SE/SMI-S</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-if="design.isVmax2">
                    <td>VMAX-2</td>
                    <td>{{design.vmax2Smis.viprName}}</td>
                    <td>{{design.vmax2Smis.host}}</td>
                    <td>{{design.vmax2Smis.ip}}</td>
                    <td>{{design.vmax2Smis.user}}</td>
                    <td>{{design.vmax2Smis.port}}</td>
                    <td ng-class='{success: (essm.vmax2.microcode.indexOf(design.vmax2.code))!= -1, danger:(essm.vmax2.microcode.indexOf(design.vmax2.code))== -1}'>{{design.vmax2.code}}</td>
                    <td ng-class='{success: (essm.vmax2.se.indexOf(design.vmax2.se))!= -1, danger:(essm.vmax2.se.indexOf(design.vmax2.se))== -1}'>{{design.vmax2.se}}</td>
                </tr>

                <tr ng-if="design.isVmax3">
                    <td>VMAX-3</td>
                    <td>{{design.vmax3Smis.viprName}}</td>
                    <td>{{design.vmax3Smis.host}}</td>
                    <td>{{design.vmax3Smis.ip}}</td>
                    <td>{{design.vmax3Smis.user}}</td>
                    <td>{{design.vmax3Smis.port}}</td>
                    <td ng-class='{success: (essm.vmax3.microcode.indexOf(design.vmax3.code))!= -1, danger:(essm.vmax3.microcode.indexOf(design.vmax3.code))== -1}'>{{design.vmax3.code}}</td>
                    <td ng-class='{success: (essm.vmax3.se.indexOf(design.vmax3.se))!= -1, danger:(essm.vmax3.se.indexOf(design.vmax3.se))== -1}'>{{design.vmax3.se}}</td>
                </tr>

                <tr ng-if="design.isVnxBlock">
                    <td>VNX-Block</td>
                    <td>{{design.vnxBlock.viprName}}</td>
                    <td>{{design.vnxBlock.host}}</td>
                    <td>{{design.vnxBlock.ip}}</td>
                    <td>{{design.vnxBlock.user}}</td>
                    <td>{{design.vnxBlock.port}}</td>
                    <td ng-class='{success: (essm.vnxBlock.microcode.indexOf(design.vnxBlock.code))!= -1, danger:(essm.vnxBlock.microcode.indexOf(design.vnxBlock.code))== -1}'>{{design.vnxBlock.code}}</td>
                    <td ng-class='{success: (essm.vnxBlock.se.indexOf(design.vnxBlock.se))!= -1, danger:(essm.vnxBlock.se.indexOf(design.vnxBlock.se))== -1}'>{{design.vnxBlock.se}}</td>
                </tr>

                <tr ng-if="design.isVplex">
                    <td>VPLEX</td>
                    <td>{{design.vplex.viprName}}</td>
                    <td>{{design.vplex.host}}</td>
                    <td>{{design.vplex.ip}}</td>
                    <td>{{design.vplex.user}}</td>
                    <td>{{design.vplex.port}}</td>
                    <td ng-class='{success: (essm.vplex.microcode.indexOf(design.vplex.code))!= -1, danger:(essm.vplex.microcode.indexOf(design.vplex.code))== -1}'>{{design.vplex.code}}</td>
                </tr>

                <tr ng-if="design.isRp">
                    <td>Recover Point</td>
                    <td>{{design.rp.viprName}}</td>
                    <td>{{design.rp.host}}</td>
                    <td>{{design.rp.ip}}</td>
                    <td>{{design.rp.user}}</td>
                    <td>{{design.rp.port}}</td>
                    <td ng-class='{success: (essm.rp.microcode.indexOf(design.rp.code))!= -1, danger:(essm.rp.microcode.indexOf(design.rp.code))== -1}'>{{design.rp.code}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="well" ng-if="design.isCisco ||design.isBrocade">
            <legend>SAN Fabric Details</legend>
            <table class="table table-condensed table-striped table-responsive table-bordered">
                <thead>
                <tr>
                    <th>Fabric Type</th>
                    <th>ViPR Name</th>
                    <th>Hostname</th>
                    <th>IP Address</th>
                    <th>UserID</th>
                    <th>Port</th>
                    <th>Version</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="design.isCisco">
                    <td>Cisco</td>
                    <td>{{design.cisco.viprName}}</td>
                    <td>{{design.cisco.host}}</td>
                    <td>{{design.cisco.ip}}</td>
                    <td>{{design.cisco.user}}</td>
                    <td>{{design.cisco.port}}</td>
                    <td>{{design.cisco.version}}</td>
                </tr>

                <tr ng-if="design.isBrocade">
                    <td>Brocade</td>
                    <td>{{design.brocade.viprName}}</td>
                    <td>{{design.brocade.host}}</td>
                    <td>{{design.brocade.ip}}</td>
                    <td>{{design.brocade.user}}</td>
                    <td>{{design.brocade.port}}</td>
                    <td>{{design.brocade.version}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="well" ng-if="design.isVcenter ||design.isWindows">
            <legend>Hosts/Clusters Details</legend>
            <table class="table table-condensed table-striped table-responsive table-bordered">
                <thead>
                <tr>
                    <th>Host Type</th>
                    <th>ViPR Name</th>
                    <th>Hostname</th>
                    <th>IP Address</th>
                    <th>UserID</th>
                    <th>Port</th>
                    <th>Version</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="design.isVcenter">
                    <td>vCenter</td>
                    <td>{{design.vcenter.viprName}}</td>
                    <td>{{design.vcenter.host}}</td>
                    <td>{{design.vcenter.ip}}</td>
                    <td>{{design.vcenter.user}}</td>
                    <td>{{design.vcenter.port}}</td>
                    <td>{{design.vcenter.version}}</td>
                </tr>

                <tr ng-if="design.isWindows">
                    <td>Windows</td>
                    <td>{{design.windows.viprName}}</td>
                    <td>{{design.windows.host}}</td>
                    <td>{{design.windows.ip}}</td>
                    <td>{{design.windows.user}}</td>
                    <td>{{design.windows.port}}</td>
                    <td>{{design.windows.version}}</td>
                </tr>

                <tr ng-if="design.isRhel">
                    <td>RHEL</td>
                    <td>{{design.rhel.viprName}}</td>
                    <td>{{design.rhel.host}}</td>
                    <td>{{design.rhel.ip}}</td>
                    <td>{{design.rhel.user}}</td>
                    <td>{{design.rhel.port}}</td>
                    <td>{{design.rhel.version}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="well" ng-if="design.isVroPlugin ||design.isVrosPlugin || design.isVasa">
        <legend>External Plugin Details</legend>
        <table class="table table-condensed table-striped table-responsive table-bordered">
            <thead>
            <tr>
                <th>Plugin Name</th>
                <th>Integration</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="design.isVroPlugin">
                <td>vCenter vRealize Orchestrator</td>
                <td>Yes</td>
            </tr>
            <tr ng-if="design.isVrosPlugin">
                <td>vCenter vRealize Operations</td>
                <td>Yes</td>
            </tr>
            <tr ng-if="design.isVasa">
                <td>VASA provider</td>
                <td>Yes</td>
            </tr>
            <tr ng-if="design.isScvmm">
                <td>SCVMM Add-in</td>
                <td>Yes</td>
            </tr>
            </tbody>
        </table>
    </div>

        <div ng-if="!design.isNone && (design.isNorthBound||design.isSouthBound)" class="well">
            <legend>Open Stack Integration</legend>
            <table  class="table table-condensed table-striped table-responsive table-bordered">
                <thead>
                <tr>
                    <th>Integration Type</th>
                    <th>Integration</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="design.isNorthBound">
                    <td>North Bound</td>
                    <td>Yes</td>
                </tr>
                <tr ng-if="design.isSouthBound">
                    <td>South Bound</td>
                    <td>Yes</td>
                </tr>
                </tbody>
            </table>
        </div>


        <p>
            <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
            <a style="margin-top:20px" class="btn btn-default" ui-sref="/">Back</a>
            <a ui-sref="/"><button  style="margin-top:20px" class="btn btn-danger " ng-click="deleteDesign(design._id)">Delete Design</button></a>

        </p>

    </div>
</div>
<!-- Contact form -->
<div ng-include="designFormUrl">
</div>