<div class = "row">
    <div class="col-md-6">
        <h2>
            {{ design.customer.accnt }} {{ design.createDate| date:'yyyy-MM-dd'}}
        </h2>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <a ui-sref="/"><button style="margin-top:20px" class="btn btn-danger pull-right" ng-click="deleteDesign(design._id)">Delete Design</button></a>
    </div>

</div>
<div ng-hide="editMode" class="container" id="exportThis">
    <div class="container" style="width: 100%">
        <div style="float:left; width: 48%">
            <legend>Dell EMC Details</legend>

            <p ng-if="design.dellEmc.saName"><label>SA Name:</label> {{ design.dellEmc.saName }}</p>
            <p ng-if="design.dellEmc.saEmail"><label>SA Email:</label> <a ng-href="mailto:{{ design.dellEmc.saEmail }}" target="_blank">{{ design.dellEmc.saEmail }} </a></p>
            <p ng-if="design.dellEmc.saContact"><label>SA Contact:</label> {{ design.dellEmc.saContact }} </p>
            <p ng-if="design.dellEmc.pmName"><label>PM Name:</label> {{ design.dellEmc.pmName }}</p>
            <p ng-if="design.dellEmc.pmEmail"><label>PM Email:</label> <a ng-href="mailto:{{ design.dellEmc.pmEmail }}" target="_blank">{{ design.dellEmc.pmEmail }} </a></p>
            <p ng-if="design.dellEmc.pmContact"><label>PM Contact:</label> {{ design.dellEmc.pmContact }} </p>

        </div>
        <div style="float:right; width: 48%">
            <legend>Customer Details</legend>

            <p ng-if="design.customer.accnt"><label> Name:</label> {{ design.customer.accnt }}</p>
            <p ng-if="design.customer.siteid"><label>Site ID:</label> {{ design.customer.siteid }} </a></p>
            <p ng-if="design.customer.address"><label>Site Address :</label> {{ design.customer.address }} </p>
            <p ng-if="design.customer.name"><label>Customer Name:</label> {{ design.customer.name }}</p>
            <p ng-if="design.customer.email"><label>Customer Email:</label> <a ng-href="mailto:{{ design.customer.email }}" target="_blank">{{ design.customer.email }} </a></p>
            <p ng-if="design.customer.contact"><label>Customer Contact:</label> {{ design.customer.contact }} </p>
            <p ng-if="design.customer.role"><label>Customer Role:</label> {{ design.customer.role }} </p>
        </div>

        <div style="clear:both"></div>

        <div>
            <legend>Define your VDC</legend>
            <p ng-if="design.numberOfVdc"><label> Number of VDC:</label> {{ design.numberOfVdc }}</p>
            <p ng-if="design.isGeoFederation"><label> Geo Federation Deployment:</label> {{ design.isGeoFederation }}</p>
            <p ng-if="design.viprHa"><label> ViPR High Availability:</label> {{ design.viprHa }}</p>
            <p ng-if="design.vsphereVersion"><label> vSphere/Hyper-V Version:</label> {{ design.vsphereVersion }}</p>
            <p ng-if="design.blockorFile"><label> Block, file or both?:</label> {{ design.blockorFile }}</p>

        </div>

        <div>
            <legend>VDC Details</legend>
            <p ng-if="design.isVmax2"><label> VMAX-2 SMIS:</label> {{design.vmax2Smis}}</p>


        </div>

        <p>
            <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
            <a style="margin-top:20px" class="btn btn-default" ui-sref="/">Back</a>
        </p>
    </div>
</div>
<!-- Contact form -->
<div ng-include="designFormUrl">
</div>