<div class="row" ng-hide="design._id">
    <div class="col-md-6">
        <h2>New Design</h2>
    </div>
</div>

<form class="form-horizontal" role="form">
    <div class="container well">
        <div style="float:left; width: 48%" class="container">
            <fieldset>
                <legend >Dell EMC Details</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label">SA Name</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text" ng-model="design.dellEmc.saName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">SA Email</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text" ng-model="design.dellEmc.saEmail" ng-init="design.dellEmc.saEmail=auth.profile.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">SA Contact</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text" ng-model="design.dellEmc.saContact" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">PM Name</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text" ng-model="design.dellEmc.pmName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">PM Email</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text" ng-model="design.dellEmc.pmEmail" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">PM Contact</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text" ng-model="design.dellEmc.pmContact" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Dell EMC Address</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text-area" ng-model="design.dellEmc.address" required>
                    </div>
                </div>
                </legend>
            </fieldset>
        </div>



        <div style="float:right; width:50%" class="container">
            <fieldset>
                <legend>Customer Details</legend>


                <div class="form-group">
                    <label class="col-sm-4 control-label">Company Name</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text-area" ng-model="design.customer.accnt" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Site ID</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text-area" ng-model="design.customer.siteid" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Site Address</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text-area" ng-model="design.customer.address" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Customer Name</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text-area" ng-model="design.customer.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Customer Email</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text-area" ng-model="design.customer.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Customer Contact</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text-area" ng-model="design.customer.contact" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Customer Role</label>
                    <div class="col-sm-8">
                        <input  class="form-control" type="text-area" ng-model="design.customer.role" required placeholder="IT Manager">
                    </div>
                </div>
                </legend>
            </fieldset>
        </div>
    </div>

    <div style="clear:both"></div>

        <fieldset>
            <div class=" container well">
            <legend>Define your VDC</legend>

            <div class="form-group">
                <label class="col-sm-3 control-label">Number of VDC</label>
                <div class="col-sm-9">
                    <select  name="numberOfVdc" class="form-control" ng-model="design.numberOfVdc" uib-tooltip="Number of VDC/Sites in this environment">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="isGeoFederation" class="col-sm-3 control-label">Geo Federation Deployment</label>
                <div class="col-sm-9">
                    <select id="isGeoFederation" name="isGeoFederation" class="form-control" ng-model="design.isGeoFederation" uib-tooltip="Will ViPR be deployed in Geo Federation?">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="viprHa" class="col-sm-3 control-label">ViPR High Availability</label>
                <div class="col-sm-9">
                    <select id="viprHa" name="viprHa" class="form-control" ng-model="design.viprHa" uib-tooltip="3+2 is recommended for production">
                        <option selected="selected" value="2plus1">2+1</option>
                        <option value="3plus2">3+2</option>

                    </select>
                </div>
            </div>


            <div class="form-group">
                <label for="vsphereVersion" class="col-sm-3 control-label">vSphere or Hyper-V Version</label>
                <div class="col-sm-9">
                    <select id="vsphereVersion" name="vsphereVersion" class="form-control" ng-model="design.vsphereVersion" uib-tooltip="ViPR can be installed on VMware vSphere and Hyper-V">
                        <option value="5.0">vSphere 5.0 vApp</option>
                        <option value="5.1">vSphere 5.1 vApp</option>
                        <option value="5.5">vSphere 5.5 vApp</option>
                        <option value="6.0">vSphere 6.0 vApp</option>
                        <option value="2012R2">Hyper-V Server 2012 R2</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="blockorFile" class="col-sm-3 control-label">Block, file or both?</label>
                <div class="col-sm-9">
                    <select id="blockorFile" name="blockorFile" class="form-control" ng-model="design.blockorFile" uib-tooltip="This design is for Block or File or both?">
                        <option value="block">Block</option>
                        <option value="file">File</option>
                        <option value="blockfile">Block & File</option>
                    </select>
                </div>
            </div>
            </div>

            <div class="container well"  ng-if="design.viprHa == '2plus1'||design.viprHa =='3plus2'">
            <legend>ViPR Infrastructure and Network Requirements</legend>
                <p class="col-sm-2">
                    <label class="control-label"> Hostname</label>
                    <input  class="form-control" type="text" ng-model="design.virtual.host" required placeholder="Virtual Hostname">
                    <input  class="form-control" type="text" ng-model="design.node1.host" required placeholder="Node 1 Hostname">
                    <input  class="form-control" type="text" ng-model="design.node2.host" required placeholder="Node 2 Hostname">
                    <input  class="form-control" type="text" ng-model="design.node3.host" required placeholder="Node 3 Hostname">
                    <input ng-if="design.viprHa == '3plus2'" class="form-control" type="text" ng-model="design.node4.host" required placeholder="Node 4 Hostname">
                    <input ng-if="design.viprHa == '3plus2'"class="form-control" type="text" ng-model="design.node5.host" required placeholder="Node 5 Hostname">
                </p>

                <p class="col-sm-2">
                    <label class="control-label"> IP Address</label>
                    <input  class="form-control" type="text" ng-model="design.virtual.ip" required placeholder="Virtual IP">
                    <input  class="form-control" type="text" ng-model="design.node1.ip" required placeholder="Node 1 IP">
                    <input  class="form-control" type="text" ng-model="design.node2.ip" required placeholder="Node 2 IP">
                    <input  class="form-control" type="text" ng-model="design.node3.ip" required placeholder="Node 3 IP">
                    <input ng-if="design.viprHa == '3plus2'" class="form-control" type="text" ng-model="design.node4.ip" required placeholder="Node 4 IP">
                    <input ng-if="design.viprHa == '3plus2'" class="form-control" type="text" ng-model="design.node5.ip" required placeholder="Node 5 IP">
                </p>

                <p class="col-sm-2">
                    <label class="control-label"> Netmask</label>
                    <input  class="form-control" type="text" ng-model="design.network.mask" required placeholder="Netmask">
                </p>

                <p class="col-sm-2">
                    <label class="control-label"> Gateway</label>
                    <input  class="form-control" type="text" ng-model="design.network.gateway" required placeholder="Gateway">
                </p>

                <p class="col-sm-2">
                    <label class="control-label"> DNS </label>
                    <input  class="form-control" type="text" ng-model="design.network.dns1" required placeholder="DNS 1">
                    <input  class="form-control" type="text" ng-model="design.network.dns2" required placeholder="DNS 2">
                </p>

                <p class="col-sm-2">
                    <label class="control-label"> NTP</label>
                    <input  class="form-control" type="text" ng-model="design.network.ntp1" required placeholder="NTP 1">
                    <input  class="form-control" type="text" ng-model="design.network.ntp2" required placeholder="NTP 2">
                </p>
            </div>

            <div class="container well">
            <legend>Storage Systems</legend>
            <div class="col-sm-3"></div>

            <div uib-tooltip="Select the storage systems to be managed by ViPR">
                <div class="checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="vmax2" ng-model="design.isVmax2"/>VMAX-2</label>
                        <li><label> <input type="checkbox" value="vmax3" ng-model="design.isVmax3"/>VMAX-3</label>
                        <li><label> <input type="checkbox" onclick="return false" value="vmaxAfa" ng-model="design.isVmaxAfa"/>VMAX-AFA</label>
                        <li><label> <input type="checkbox" onclick="return false" value="xio" ng-model="design.isXio"/>XtremIO</label>
                        <li><label> <input type="checkbox" onclick="return false" value="xiv" ng-model="design.isXiv"/>XIV</label>

                    </ul>
                </div>

                <div class=" checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" onclick="return false" value="vnxUnified" ng-model="design.isVnxUnified"/>VNX-Unified</label>
                        <li><label> <input type="checkbox" value="vnxblock" ng-model="design.isVnxBlock"/>VNX-Block</label>
                        <li><label> <input type="checkbox" onclick="return false" value="vnxFile" ng-model="design.isVnxFile"/>VNX-File</label>
                        <li><label> <input type="checkbox" onclick="return false" value="unity" ng-model="design.isUnity"/>Unity</label>
                        <li><label> <input type="checkbox" onclick="return false" value="netapp" ng-model="design.isNetapp"/>NetApp</label>
                    </ul>
                </div>

                <div class="checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="vplex" ng-model="design.isVplex"/>VPLEX</label>
                        <li><label> <input type="checkbox" value="rp" ng-model="design.isRp"/>Recover Point</label>
                        <li><label> <input type="checkbox" onclick="return false" value="isilon" ng-model="design.isIsilon"/>Isilon</label>
                        <li><label> <input type="checkbox" onclick="return false" value="scaleIo" ng-model="design.isScaleIo"/>ScaleIO</label>
                        <li><label> <input type="checkbox" onclick="return false" value="hds" ng-model="design.isHds"/>HDS</label>
                        <li><label> <input type="checkbox" onclick="return false" value="dd" ng-model="design.isDd"/>Data  Domain</label>


                    </ul>
                </div>
            </div>

            <legend ng-if="design.isVmax2 ||design.isVmax3||design.isVnxBlock">Storage Systems Details</legend>
            <div class="container"  ng-if="design.isVmax2 ||design.isVmax3||design.isVnxBlock">
                <p class="col-sm-2">
                    <label class="control-label">ViPR Name</label>
                </p>
                <p class="col-sm-2">
                    <label class="control-label">Hostname</label>
                </p>
                <p class="col-sm-2">
                    <label class="control-label">IP Address</label>
                </p>
                <p class="col-sm-1">
                    <label class="control-label">UserID</label>
                </p>
                <p class="col-sm-1">
                    <label class="control-label">Port</label>
                </p>
                <p class="col-sm-2">
                    <label class="control-label">Code</label>
                </p>
                <p class="col-sm-2">
                    <label class="control-label">SE/SMI-S</label>
                </p>
            </div>

            <div class="container"  ng-if="design.isVmax2">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vmax2Smis.viprName" required placeholder="VMAX-2 SMIS ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vmax2Smis.host" required placeholder="VMAX-2 SMIS Hostname">
                </p>

                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vmax2Smis.ip" required placeholder="VMAX-2 SMIS IP Address">
                </p>

                <p class="col-sm-1">
                    <input  class="form-control" type="text" ng-model="design.vmax2Smis.user" required placeholder="admin">
                </p>

                <p class="col-sm-1">
                    <input class="form-control" type="text" ng-model="design.vmax2Smis.port" required placeholder="5988/5989">
                </p>

                <p class="col-sm-2">
                    <select  class="form-control" ng-model="design.vmax2.code" >
                        <option value="5876.230">5876.230</option>
                        <option value="5876.229">5876.229</option>
                        <option value="5876.288">5876.288</option>
                    </select>
                </p>

                <p class="col-sm-2">
                    <select  class="form-control" ng-model="design.vmax2.se" >
                        <option value="7.6.2.67/4.6.2.29">7.6.2.67/4.6.2.29</option>
                        <option value="8.1.0.20/8.1.0.11">8.1.0.20/8.1.0.11</option>
                        <option value="8.2.0.1/8.2.0.1">8.2.0.1/8.2.0.1</option>
                    </select>
                </p>

            </div>

            <div class="container"  ng-if="design.isVmax3">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vmax3Smis.viprName" required placeholder="VMAX-3 SMIS ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vmax3Smis.host" required placeholder="VMAX-3 SMIS Hostname">
                </p>

                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vmax3Smis.ip" required placeholder="VMAX-3 SMIS IP Address">
                </p>
                <p class="col-sm-1">
                    <input class="form-control" type="text" ng-model="design.vmax3Smis.user" required placeholder="admin">
                </p>
                <p class="col-sm-1">
                    <input  class="form-control" type="text" ng-model="design.vmax3Smis.port" required placeholder="5988/5989">
                </p>
                <p class="col-sm-2">
                    <select  class="form-control" ng-model="design.vmax3.code" >
                        <option value="5977.690">5977.690</option>
                        <option value="5977.691">5977.691</option>
                        <option value="5977.813">5977.813</option>
                    </select>
                </p>

                <p class="col-sm-2">
                    <select  class="form-control" ng-model="design.vmax3.se" >
                        <option value="8.2.0.1/8.2.0.1">8.2.0.1/8.2.0.1</option>
                        <option value="8.1.0.20/8.1.0.11">8.1.0.20/8.1.0.11</option>
                        <option value="8.1.2.0/8.1.2.0">8.1.2.0/8.1.2.0</option>
                    </select>
                </p>
            </div>


            <div class="container"  ng-if="design.isVnxBlock">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vnxBlock.viprName" required placeholder="VNX-Block SMIS ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vnxBlock.host" required placeholder="VNX-Block SMIS Hostname">
                </p>

                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vnxBlock.ip" required placeholder="VNX-Block SMIS IP Address">
                </p>
                <p class="col-sm-1">
                    <input  class="form-control" type="text" ng-model="design.vnxBlock.user" required placeholder="admin">
                </p>
                <p class="col-sm-1">
                    <input  class="form-control" type="text" ng-model="design.vnxBlock.port" required placeholder="5988/5989">
                </p>
                <p class="col-sm-2">
                    <select  class="form-control" ng-model="design.vnxBlock.code" >
                        <option value="Gen1-5.31.x">Gen1-5.31.x</option>
                        <option value="Gen1-5.32.x">Gen1-5.32.x</option>
                        <option value="Gen2-5.33.x">Gen2-5.33.x</option>
                    </select>
                </p>

                <p class="col-sm-2">
                    <select  class="form-control" ng-model="design.vnxBlock.se" >
                        <option value="7.6.2.102/4.6.2.30">7.6.2.102/4.6.2.30</option>
                        <option value="7.6.2.102/4.6.2.31">7.6.2.102/4.6.2.31</option>
                    </select>
                </p>
            </div>

            <div class="container"  ng-if="design.isVplex">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vplex.viprName" required placeholder="VPLEX ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vplex.host" required placeholder="VPLEX Mgmt Hostname">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vplex.ip" required placeholder="VPLEX Mgmt IP Address">
                </p>
                <p class="col-sm-1">
                    <input  class="form-control" type="text" ng-model="design.vplex.user" required placeholder="service">
                </p>
                <p class="col-sm-1">
                    <input  class="form-control" type="text" ng-model="design.vplex.port" required placeholder="443">
                </p>
                <p class="col-sm-2">
                    <select  class="form-control" ng-model="design.vplex.code" >
                        <option value="6.0.0.1">6.0.0.1</option>
                        <option value="5.5.1.x">5.5.1.x</option>
                        <option value="5.5.0.x">5.5.0.x</option>
                        <option value="5.3.0.x">5.3.0.x</option>
                    </select>
                </p>
            </div>

            <div class="container"  ng-if="design.isRp">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.rp.viprName" required placeholder="RP ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.rp.host" required placeholder="RP Mgmt Hostname">
                </p>

                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.rp.ip" required placeholder="RP Mgmt IP Address">
                </p>
                <p class="col-sm-1">
                    <input  class="form-control" type="text" ng-model="design.rp.user" required placeholder="admin">
                </p>
                <p class="col-sm-1">
                    <input  class="form-control" type="text" ng-model="design.rp.port" required placeholder="7225">
                </p>
                <p class="col-sm-2">
                    <select  class="form-control" ng-model="design.rp.code" >
                        <option value="4.1.1.x">4.1.1.x</option>
                        <option value="4.1.2.x">4.1.2.x</option>
                        <option value="4.1.3.x">4.1.3.x</option>
                        <option value="4.4.1.x">4.4.1.x</option>
                    </select>
                </p>
            </div>
            </div>

            <div class="container well">
            <legend>SAN Fabric</legend>
            <div class="col-sm-3"></div>

            <div uib-tooltip="Select the SAN Switches to be managed by ViPR">
                <div class="checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="cisco" ng-model="design.isCisco"/>Cisco</label>
                    </ul>
                </div>
                <div class="checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="brocade" ng-model="design.isBrocade"/>Brocade</label>
                    </ul>
                </div>
            </div>

            <legend ng-if="design.isCisco ||design.isBrocade">Fabric Manager Details</legend>

            <div class="container"  ng-if="design.isCisco ||design.isBrocade">
                <p class="col-sm-2">
                    <label class="control-label">ViPR Name</label>

                </p>
                <p class="col-sm-2">
                    <label class="control-label">Hostname</label>

                </p>

                <p class="col-sm-2">
                    <label class="control-label">IP Address</label>

                </p>

                <p class="col-sm-2">
                    <label class="control-label">UserID</label>

                </p>

                <p class="col-sm-2">
                    <label class="control-label">Port</label>

                </p>
                <p class="col-sm-2">
                    <label class="control-label">Version</label>

                </p>
                </div>

            <div class="container"  ng-if="design.isCisco">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.cisco.viprName" required placeholder="Cisco ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.cisco.host" required placeholder="Cisco Mgmt Hostname">
                </p>

                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.cisco.ip" required placeholder="Cisco Mgmt IP Address">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.cisco.user" required placeholder="Cisco User">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.cisco.port" required placeholder="Cisco Mgmt Port">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.cisco.version" required placeholder="Cisco Version">
                </p>
            </div>

            <div class="container"  ng-if="design.isBrocade">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.brocade.viprName" required placeholder="Brocade ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.brocade.host" required placeholder="Brocade Mgmt Hostname">
                </p>

                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.brocade.ip" required placeholder="Brocade Mgmt IP Address">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.brocade.user" required placeholder="Brocade User">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.brocade.port" required placeholder="5988/5989">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.brocade.version" required placeholder="Brocade Version">
                </p>
            </div>
            </div>

            <div class="container well">
            <legend>Hosts and Clusters</legend>
            <div class="col-sm-3"></div>

            <div uib-tooltip="Select the Hosts and Clusters to be managed by ViPR">
                <div class="checkbox col-sm-2">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="vcenter" ng-model="design.isVcenter"/>vCenter</label>
                        <li><label> <input type="checkbox" value="windows" ng-model="design.isWindows"/>Windows</label>

                    </ul>
                </div>

                <div class="checkbox col-sm-2">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" onclick="return false" value="aix" ng-model="design.isAix"/>AIX</label>
                        <li><label> <input type="checkbox" onclick="return false" value="aixvio" ng-model="design.isAixvio"/>AIX VIO</label>
                    </ul>
                </div>
                <div class="checkbox col-sm-2">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="rhel" ng-model="design.isRhel"/>Redhat/SUSE</label>
                        <li><label> <input type="checkbox" onclick="return false" value="hpux" ng-model="design.isHpux"/>HP-UX</label>
                    </ul>
                </div>

                <div class="checkbox col-sm-2">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" onclick="return false" value="vblock" ng-model="design.isVblock"/>VBlock/VxBlock</label>
                        <li><label> <input type="checkbox" onclick="return false" value="vblockImageServer" ng-model="design.isVblockImageServer"/>VBlock/VxBlock Image Servers</label>
                    </ul>
                </div>
            </div>

            <legend ng-if="design.isVcenter ||design.isWindows ||design.isWindows ||design.isRhel">Hosts and Cluster Details</legend>

            <div class="container"  ng-if="design.isVcenter ||design.isWindows ||design.isWindows ||design.isRhel">
                <p class="col-sm-2">
                    <label class="control-label">ViPR Name</label>

                </p>
                <p class="col-sm-2">
                    <label class="control-label">Hostname</label>

                </p>

                <p class="col-sm-2">
                    <label class="control-label">IP Address</label>

                </p>

                <p class="col-sm-2">
                    <label class="control-label">UserID</label>

                </p>

                <p class="col-sm-2">
                    <label class="control-label">Port</label>

                </p>
                <p class="col-sm-2">
                    <label class="control-label">Version</label>

                </p>
            </div>

            <div class="container"  ng-if="design.isVcenter">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vcenter.viprName" required placeholder="vCenter ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vcenter.host" required placeholder="vCenter Mgmt Hostname">
                </p>

                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vcenter.ip" required placeholder="vCenter Mgmt IP Address">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vcenter.user" required placeholder="vCenter User">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vcenter.port" required placeholder="443">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.vcenter.version" required placeholder="vCenter Version">
                </p>
            </div>
            <div class="container"  ng-if="design.isWindows">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.windows.viprName" required placeholder="Windows ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.windows.host" required placeholder="Windows Mgmt Hostname">
                </p>

                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.windows.ip" required placeholder="Windows Mgmt IP Address">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.windows.user" required placeholder="Windows User">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.windows.port" required placeholder="5985/5986">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.windows.version" required placeholder="Windows Version">
                </p>
            </div>
            <div class="container"  ng-if="design.isRhel">
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.rhel.viprName" required placeholder="Rhel ViPR Name">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.rhel.host" required placeholder="Rhel Mgmt Hostname">
                </p>

                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.rhel.ip" required placeholder="Rhel Mgmt IP Address">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.rhel.user" required placeholder="Rhel User">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.rhel.port" required placeholder="22">
                </p>
                <p class="col-sm-2">
                    <input  class="form-control" type="text" ng-model="design.rhel.version" required placeholder="Rhel Version">
                </p>
            </div>
            </div>


            <div class="container well">
            <legend>External Plugins</legend>
            <div class="col-sm-3"></div>

            <div uib-tooltip="Select the VMware/Microsoft plugins to be integrated with ViPR">
                <div class="checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="vroPlugin" ng-model="design.isVroPlugin"/>vCenter vRealize Orchestrator</label>
                        <li><label> <input type="checkbox" value="vropsPlugin" ng-model="design.isVrosPlugin"/>vCenter vRealize Operations</label>

                    </ul>
                </div>

                <div class="checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="vasa" ng-model="design.isVasa"/>VASA provider</label>
                        <li><label> <input type="checkbox" value="svcmm" ng-model="design.isScvmm"/>SCVMM Add-in</label>
                    </ul>
                </div>

            </div>
            </div>

            <div class="container well">
            <legend>OpenStack Integration</legend>
            <div class="col-sm-3"></div>

            <div uib-tooltip="Select the OpenStack Integration type">
                <div class="checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="none" ng-model="design.isNone"/>None</label>

                    </ul>
                </div>

                <div class="checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="southBound" ng-model="design.isSouthBound"/>South Bound</label>
                    </ul>
                </div>

                <div class="checkbox col-sm-3">
                    <ul class="list-unstyled">
                        <li><label> <input type="checkbox" value="northBound" ng-model="design.isNorthBound"/>North Bound</label>
                    </ul>
                </div>
            </div>

            </div>
        </fieldset>



    <div>
        <p>
            <button style="margin-top:20px" class="btn btn-default" ng-click="saveDesign(design)">Save</button>
            <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
        </p>
    </div>

</form>